<app-header></app-header>

<!-- <div class="main-container">
  <ejs-splitter #splitter height="100%" width="100%">
    <e-panes>
      <e-pane size="320px" min="280px" max="500px" [collapsible]="true">
        <div class="pane-content">
          <app-database-schema class="schema-sidebar"></app-database-schema>
        </div>
      </e-pane>
      <e-pane>
        <div class="pane-content">
          <app-sql-editor class="editor-main"></app-sql-editor>
        </div>
      </e-pane>
    </e-panes>
  </ejs-splitter>
</div> -->
<div id="target" class="control-section default-splitter">
    <div class="pane1">
        <ejs-splitter #horizontal height="100%"  separatorSize=2 width='100%' >
            <e-panes>
                <e-pane size='25%' min='60px'>
                    <ng-template #content>
                        <div class="content">
                            <app-database-schema class="schema-sidebar"></app-database-schema>
                        </div>
                    </ng-template>
                </e-pane>
                <e-pane size='50%' min='60px'>
                    <ng-template #content>
                        <div class="content">
                            <app-sql-editor class="editor-main"></app-sql-editor>
                        </div>
                    </ng-template>
                </e-pane>
            </e-panes>
        </ejs-splitter>
    </div>
</div>

<app-toast></app-toast>